[{"DictName":"医学词库","DictVersion":"1.0.0","Dictid":"yxch.shp","Select":false,"UpdateFalg":1,"UpdateUrl":["http:\/\/srapi.qzxxi.com\/prodict\/yxch.zip"]},{"DictName":"计算机词库","DictVersion":"1.0.0","Dictid":"jsjch.shp","Select":false,"UpdateFalg":1,"UpdateUrl":["http:\/\/srapi.qzxxi.com\/prodict\/jsjch.zip"]},{"DictName":"上海地名","DictVersion":"1.0.0","Dictid":"shanghaiadress.shp","Select":true,"UpdateFalg":0,"UpdateUrl":["http:\/\/localhost\/prodict\/shanghaiadress.zip"]}]